[user]
	name = Santiago Hernandez
	email = santi84@gmail.com
[github]
	user = santius

[core]
	excludesfile = ~/.config/git/gitignore
	editor = code --wait
	filemode = false
	trustctime = false
	autocrlf = input
	untrackedCache = true
	pager = delta
	ignorecase = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autoStash = true

[push]
	default = simple
	followTags = true

[fetch]
	prune = true

[grep]
	lineNumber = true

[help]
	autocorrect = 1

[diff]
	renames = copies
	indentHeuristic = true
	colorMoved = default

[merge]
	conflictstyle = diff3
	defaultToUpstream = true

[mergetool]
	prompt = false